<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <style>
        a {
          /*  border: 2px solid red;*/
            font-size: 150px;
            
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 100px;
            top: 100px;
        }
         body h1{
        left: 200px;
    margin: 20px;
    padding: 200px;
    bottom: 120px;
        
        }
        </style>

</head>

<body>
    <a style="left: 200px;" >oops!</a> 
    <h1 >404 - page not found </h1>
</body>
</html>