<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .btn{
        background-color: rgb(122, 189, 255);
        color: rgb(46, 42, 42);
    }
</style>
<body>
    <form action="/answer" method="Post">
        <ul>
            <li style="list-style: none;">
               
                <h2 name="description">Answer Description</h2><br>  <textarea name="description" ></textarea>
                <button class="btn">Submit Answer</button>

            </li>
        </ul>
    </form>
</body>
</html>