<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>

    <link href="/style1.css" rel="stylesheet">
</head>


<body class="body1">
    <img style="height: 40px; width: 40px;" src="/images/logo-removebg-preview.png">
    <h2 class="h31">Stack <b>Overflow</b></h2>


   <a href="/login"> <button class="btn1">Log in</button></a>
    <a href="/signup"><button class="btn">Sign Up</button></a>

    <nav>
        <ul class="navBar">
            <a>
                <li class="nav">Home</li>
            </a>
            <a href="/blogs">
                <li class="nav">All-Question</li>
            </a>
            <a href="/home/create">
                <li class="nav">Ask Question</li>
            </a>
        
           <a href="/signup/bio"><li class="nav">Profile</li></a>

        </ul>
    </nav>

    <a>
        <h1>Every developer has a<br>
            tab open to Stack Overflow </h1>
    </a>
    <a>
        <h4>We've been the Q&A platform of choice that <br>
            people visit every month to ask questions,learn,and sharec<br>
            technical knowledge</h4>
    </a>

 

    <a href="/signup"> <button class="Btn">Sign Up</button></a>
   <a href="/login"> <button class="Btn1"> Log in</button></a>






    <img style="position: absolute;
    right: 90px;
    top: 150px;" src="/images/New_Workplace-removebg-preview.png" alt="img">
</body>

</html>