<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style1.css" rel="stylesheet" >
</head>
<body class="body2">
    <h2 style="color: blueviolet;"><b>Ask a public question</b></h2>
    
    <p class="guide"><h3>Writing a good question</h3>
        <h4> you're ask a programming-related queston and<br> hope above steps will guide properly.
        <ul class="ulist">
            <li class="list">Summarize your problem in a one-line title</li>
            <li class="list">Decribe your problem in more details</li>
            <li class="list">Add "tags" which will help you get to get answer</li>
           
        </ul></p>

    <form class="form2" action="/blogs" method="post">
        
        <h3>Title:</h3>
        <!-- <h5>title should be specific</h5> -->
        <input type="text" class="ask" placeholder="there are an r function to find element index in a vector." name="title" id="title" required>
    
          <h3>Description:</h3>
          <!-- <h5>What are the deatils of your problem</h5> -->
        <input type="text" class="ask2" name="description" id="description" placeholder="Introduce the problem and expand on what you put in the title. Minimum 20 characters." >
        
   
       <h3>Related Tags :</h3>
       <!-- <h5>Add up to 5 tags to decribe what your question is about.</h5> -->
        <textarea type="tel" class="ask3" name="related" id="related" placeholder="e.g.(angular) Add up to 5 tags to decribe what your question is about."></textarea>
        
       <a > <button  type="submit" class="button">Submit</button></a>
    </form> 
  
</body>
</html>