<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>

    <link href="/style1.css" rel="stylesheet">  
  
</head>


<body class="body1">
    <img style="height: 40px; width: 40px;" src="/images/logo-removebg-preview.png">
    <h2 class="h31">Stack <b>Overflow</b></h2>
 


    <nav>
        <ul class="navBar">
            <a>
                <li class="nav">Home</li>
            </a>
            <a href="/all-question">
                <li class="nav">All-Question</li>
            </a>
            <a href="/home/create">
                <li class="nav">Ask Question</li>
            </a>
        
           <a href="/signup/bio"><li class="nav">Profile</li></a>

        </ul>
    </nav>

    <a  style="display: flex;
    justify-content: space-between; text-align: center;"><h1> Welcome Again ! </h1></a>
   
    <img style="position: absolute;
    right: 90px;
    top: 150px;" src="/images/New_Workplace-removebg-preview.png" alt="img">
    
    
</body>

</html>